@import url("https://fonts.googleapis.com/css2?family=Ballet&family=Oi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oi&family=Pacifico&family=Reggae+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #457b9d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.container {
  background-color: #f1faee;
  width: 80vw;
  margin-top: 30rem;
  text-align: center;
  box-shadow: rgba(178, 212, 26, 0.4) 5px 5px, rgba(69, 240, 46, 0.3) 10px 10px,
    rgba(46, 240, 240, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}
.btn {
  margin-top: 20px;
  padding: 15px 30px;
  border: 1px solid #4caf50;
  border-radius: 4px;
  color: black;
  background-color: white;
  transition-duration: 0.4s;
  font-size: 1rem;
}
.btn:hover {
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
}
.quote-text {
  margin: 1rem;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
.fa-quote-left {
  margin-left: 8rem;
  float: left;
}
.fa-quote-right {
  margin-right: 14rem;
  float: right;
}
.btn-twitter {
  margin-top: 10px;
  padding: 15px 30px;
  border: 1px solid #0d53e9c0;
  border-radius: 4px;
  color: black;
  background-color: white;
  transition-duration: 0.4s;
  font-size: 1rem;
}
.quote-author {
  margin: 10px;
  font-size: 2rem;
  font-family: "Oi", cursive;
  font-family: "Pacifico", cursive;
  font-family: "Reggae One", cursive;
  float: right;
}
